@import url('https://fonts.cdnfonts.com/css/swiss-721');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

/* font */
.pretendard {
    font-family: "Pretendard Variable";
}

.swiss {
    font-family: 'Swiss 721', sans-serif;
}

/* public */
body {
    background-color: #000;
    color: #000;
}
/* 모든 스크롤바 숨기기 */
body {
  scrollbar-width: thin; /* Firefox에 대한 스크롤바 너비 설정 */
}
body::-webkit-scrollbar {
  width: 0em; /* 수직 스크롤바의 너비 설정 */
}
body::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바 색상을 투명으로 설정 */
}

#wrap {
    width: 100%;
    overflow-x: hidden;
}
.clear {
    clear: both;
}

/* 헤더 */
header {
    position: fixed;
    width: 100%;
    height: calc(100vw * 80 / 1920);
    border-bottom: solid calc(100vw * 2 / 1920) #000;
    background-color: #fff;
    z-index: 50;
}
header .logo img {
    position: absolute;
    width: calc(100vw * 290 / 1920);
    left: calc(100vw * 100 / 1920);
    top: calc(100vw * 19 / 1920);
}
header .menu {
    position: absolute;
    display: flex;
    top: calc(100vw * 19 / 1920);
    right: calc(100vw * 230 / 1920);
}
header .menu li {
    padding: 0 calc(100vw * 30 / 1920);
    font-size: calc(100vw * 22 / 1920);
    letter-spacing: -0.04em;
    color: #000;
}
header .menu li span {
    font-size: calc(100vw * 17 / 1920);
    color: #000;
}
header .hamburger {
    position: absolute;
    width: calc(100vw * 180 / 1920);
    height: calc(100vw * 80 / 1920);
    border-left: solid calc(100vw * 2 / 1920) #000;
    right: 0;
}

/* 영상 */
#video {
    /* border: solid 1px red; */
    position: relative;
    width: 100%;
    height: 110vh;
    top: calc(100vw * 0 / 1920);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #000;
}
#video p{
    position: absolute;
    top: calc(100vw * 900 / 1920);
    color: #fff;
    text-align: center;
    font-size: calc(100vw * 40 / 1920);
}
#video .container video{
    width: 100%;
    margin-top: calc(100vw * 80 / 1920);
    /* height: 100vh; */
}

/* 글자 움직임 */
#textmove{
    position: relative;
    /* top: calc(100vw * 100 / 1920); */
    background-color: #000;
    width: 100%;
    height: calc(100vw * 1200 / 1920);
}
#textmove .cover {
    width: 100vw;
    /* margin-top: calc(100vw * 100 / 1920); */
    margin-bottom: 12vw;
    display: flex;
}
#textmove .cover:nth-child(1) {
    margin-top: calc(100vw * 200 / 1920);
    transform: rotate(-2deg);
    background-color: #fff;
}
#textmove .cover:nth-child(2) {
    transform: rotate(2deg);
    background-color: #222;
    color: #fff;
    justify-content: flex-end;
}
#textmove .cover:nth-child(3) {
    transform: rotate(-2deg);
    background-color: #fff;
}
#textmove .cover p {
    display: flex;
    padding: 4vh 0;
    font-size: clamp(2vw, 8vw, 5rem);
}

/* 쇼핑 */
#shop{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}
#shop .scroll_content {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    width: 100%;
}
#shop .scroll_content .fix{
    position: absolute;
    top: calc(100vw * 150 / 1920);
    left: calc(100vw * 100 / 1920);
}
#shop .scroll_content .fix p{
    font-size: calc(100vw * 40 / 1920);
}
#shop .scroll_content .fix .box{
    margin-top: calc(100vw * 45 / 1920);
    font-size: calc(100vw * 48 / 1920);
    border: solid calc(100vw * 2 / 1920) #000;
    width: calc(100vw * 210 / 1920);
    height: calc(100vw * 80 / 1920);
    display: flex;
    /* justify-content: center; */
    padding-left: calc(100vw * 8 / 1920);
    align-items: center;
}
#shop .scroll_content .fix .box span{
    font-size: calc(100vw * 22 / 1920);
    border-left: solid calc(100vw * 2 / 1920) #000;
    margin-left: calc(100vw * 8 / 1920);
    padding: 0 calc(100vw * 38 / 1920);
    /* width: calc(100vw * 140 / 1920); */
    height: calc(100vw * 80 / 1920);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#shop .scroll_content .text2{
    height: calc(100vw * 460 / 1920);
    position: absolute;
    left: calc(100vw * 50 / 1920);
    top: calc(100vw * 530 / 1920);
}
#shop .scroll_content .page1{
    overflow: hidden;
    height: 100vh;
}
#shop .scroll_content .page1 .text2 .line{
    height: calc(100vw * 240 / 1920);
    width: 0;
    margin-left: calc(100vw * 60 / 1920);
    border-left: solid calc(100vw * 2 / 1920) #000;
}
#shop .scroll_content .page1 .text2 .up{
    margin-bottom: calc(100vw * 60 / 1920);
    transform: rotate(-90deg);
    font-size: calc(100vw * 20 / 1920);
    letter-spacing: -0.02em;
    font-weight: 400;
}
#shop .scroll_content .page1 .text2 .down{
    margin-top: calc(100vw * 60 / 1920);
    transform: rotate(-90deg);
    font-size: calc(100vw * 20 / 1920);
    letter-spacing: -0.02em;
    font-weight: 400;
}
#shop .scroll_content .page1 .short{
    position: absolute;
    top: calc(100vw * 150 / 1920);
    right: calc(100vw * 100 / 1920);
}
#shop .scroll_content .page1 .short video{
    width: calc(100vw * 788 / 1920);
}
#shop .scroll_content .page1 .arrow{
    position: absolute;
    top: calc(100vw * 920 / 1920);
    right: calc(100vw * 100 / 1920);
}

/* 호버 */
#shop .scroll_content .page1 .frame{
    /* border: solid 1px red; */
    width: 100%;
    position: absolute;
    top: calc(100vw * 580 / 1920);
    left: calc(100vw * 220 / 1920);
    display: flex;
}

figure.snip1477 {
    position: relative;
    overflow: hidden;
    max-width: calc(100vw * 300 / 1920);
    height: calc(100vw * 400 / 1920);
    width: 100%;
    color: #fff;
    /* text-align: center; */
    font-size: calc(100vw 16 / 1920);
    background-color: #000;
    margin-right: calc(100vw * 40 / 1920);
}

figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

figure.snip1477 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
}

figure.snip1477 .title {
    position: absolute;
    top: 58%;
    left: calc(100vw * 25 / 1920);
    padding: calc(100vw * 10 / 1920);
}

figure.snip1477 .title:before,
figure.snip1477 .title:after {
    height: calc(100vw * 2 / 1920);
    width: calc(100vw * 400 / 1920);
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip1477 .title:before {
    top: 0;
    left: calc(100vw * 10 / 1920);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

figure.snip1477 .title:after {
    bottom: 0;
    right: calc(100vw * 95 / 1920);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
    width: calc(100vw * 2 / 1920);
    height: calc(100vw * 300 / 1920);
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip1477 .title div:before {
    top: calc(100vw * 10 / 1920);
    right: calc(100vw * 85 / 1920);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

figure.snip1477 .title div:after {
    bottom: calc(100vw * 10 / 1920);
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

figure.snip1477 h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: calc(100vw * 24 / 1920);
    text-align: left;
}

figure.snip1477 figcaption {
    position: absolute;
    bottom: 42%;
    left: calc(100vw * 25 / 1920);
    text-align: left;
    opacity: 0;
    padding: calc(100vw * 10 / 1920);
    letter-spacing: calc(100vw * 1.5 / 1920);
}

figure.snip1477 figcaption p {
    margin: 0;
    font-size: calc(100vw * 16 / 1920);
}

figure.snip1477 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure.snip1477:hover img,
figure.snip1477.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}

figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/* 인포 */
/* #not_ho{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
#not_ho .page2 .fix{
    position: absolute;
    top: calc(100vw * 150 / 1920);
    left: calc(100vw * 100 / 1920);
}
#not_ho .page2 .fix p{
    font-size: calc(100vw * 40 / 1920);
}
#not_ho .page2 .fix .box{
    margin-top: calc(100vw * 45 / 1920);
    font-size: calc(100vw * 48 / 1920);
    border: solid calc(100vw * 2 / 1920) #000;
    width: calc(100vw * 210 / 1920);
    height: calc(100vw * 80 / 1920);
    display: flex;
    padding-left: calc(100vw * 8 / 1920);
    align-items: center;
}
#not_ho .page2 .fix .box img{
    width: calc(100vw * 50 / 1920);
    margin: 0 calc(100vw * 2 / 1920);
}
#not_ho .page2 .fix .box span{
    font-size: calc(100vw * 22 / 1920);
    border-left: solid calc(100vw * 2 / 1920) #000;
    margin-left: calc(100vw * 8 / 1920);
    padding: 0 calc(100vw * 38 / 1920);
    height: calc(100vw * 80 / 1920);
    display: flex;
    align-items: center;
}
#not_ho .page2 .title{
    width: 100%;
    position: absolute;
    text-align: center;
    top: calc(100vw * 500 / 1920);
    align-items: center;
    font-size: calc(100vw * 64 / 1920);
}
#not_ho .page2 .info{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: calc(100vw * 100 / 1920);
    font-size: calc(100vw * 40 / 1920);
} */

/* .scroll_content img {
    border: solid 1px red;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
} */
/*  */
/* section:not(#shop) {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 50px 10vw;
    margin: auto;
    place-items: center;
} */
/* #shop {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: #fff;
    color: var(--bg-color);
}
#shop .scroll_content {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;
}
#shop .scroll_content > * {
    min-width: 60vw;
    padding: 0 5vw;
}
#shop .scroll_content h2 {
    font-size: 2rem;
    max-width: 400px;
}
#shop .scroll_content img {
    height: 80vh;
    width: auto;
    object-fit: cover;
} */